<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ecogeneration</title>
  <!-- Semantic UI CDN -->
  
  <link rel="stylesheet" href="/css/header.css" >
  <link rel="stylesheet" href="/css/login.css" >
  <link rel="stylesheet" href="/css/style.css" >
  <link rel="apple-touch-icon" href="/imagens/favicon2.png">
  <link rel="icon" href="/imagens/favicon2.png" type="image/png">
</head>
  <%- include("../partials/header") %>
<body class="layout">


  <main>
  
    <h1 class="ui header">Login</h1> 
    <form action="/login" method="post" class="ui form" id="login-form">
      <label for="email">E-mail</label>
      <input
        type="email"
        id="email"
        name="email"
        value="<%= old.email ? old.email : '' %>"
        placeholder="Digite seu e-mail"
      />
      <% if (errors.email) { %>
      <section class="ui pointing red basic label"><%= errors.email.msg %></section>
      <% } %>
      <% if (errors.geral) { %>
      <section class="ui pointing red basic label"><%= errors.geral.msg %></section>
      <% } %>

      <label for="senha">Senha</label>
      <input
        type="password"
        id="senha"
        name="senha"
        placeholder="Digite sua senha"
      />
      <% if (errors.senha) { %>
      <section class="ui pointing red basic label"><%= errors.senha.msg %></section>
      <% } %>

      <p>Ainda não tem uma conta? <a href="/cadastro">Cadastre-se aqui</a></p>

      <button class="ui primary button" type="submit">Enviar</button>
      <button class="ui button" type="reset">Limpar</button>
    </form>
  </main>

  <footer> 2025-Ecogeneration </footer>
  <script src="/js/validation.js"></script>
</body>
</html>